langchain-core
langchain-community
langchain-groq
langchain
pydantic
python-dotenv
groq
pypdf
pdfplumber
openpyxl
requests
faiss-cpu
sentence-transformers
pydantic-settings
google-generativeai
psycopg2-binary
python-decouple
langchain-google-genai
flask==3.1.0
