langchain-core==0.1.52
langchain-community==0.0.38
langchain-groq==0.1.9
langchain==0.1.20
pydantic
python-dotenv
groq
pypdf
pdfplumber
openpyxl
requests
faiss-cpu
sentence-transformers
pydantic-settings
google-generativeai
psycopg2-binary
python-decouple
langchain-google-genai
flask==3.1.0
